@media screen and (max-width: 320px) {
  .delete-text {
    right: 8%;
  }
  .blog-create .btn-form {
    margin-left: 0;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 375px) {
  nav > h1 {
    padding-right: 1em;
  }
}

@media screen and (min-width: 400px) {
  nav {
    h1 {
      width: 30%;
    }
    ul {
      flex-direction: row;
      li {
        margin: auto 1em;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    margin-right: 2em;
    margin-left: 2em;
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h1 {
        order: 2;
      }
      .text-container {
        margin: 0;
      }
      .btn-container {
        position: relative;
        order: 3;
        .dropdown {
          display: inline-block;
          margin: auto 1em;
          .dropbtn {
            width: 120px;
          }
        }
        .btn-delete {
          margin: 0;
          margin-bottom: 0.5em;
          width: 250px;
        }
      }
      .selectall {
        order: 1;
        .btn-select {
          margin: 0;
          margin-left: 1.5%;
          width: 47%;
        }
      }
      #sort-dropdown {
        right: 95%;
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .text-container {
    display: inline-block;
    margin-top: 0.5em;
    padding: 0.5em;
    font-size: 1.125rem;
    border-radius: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-container {
    position: relative;
  }
  .btn-delete {
    margin: 0;
    position: absolute;
    top: 0;
    right: 150px;
    width: 350px;
    min-width: 100px;
    background-color: #b61c36;
    color: #f2f2f2;
    padding: 0.5em;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    transition: all 0.5s ease-out;
    &:hover,
    &:focus {
      background-color: #88061c;
    }
  }
}
