.text-container {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin: 0.5em auto;
  padding: 0.5em;
  font-size: 1.125rem;
  border-radius: 10px;
  width: 100%;
  max-width: 275px;
}
input[type="text"] {
  display: inline-block;
  padding: 0.5em;
  padding-right: 2em;
  font-size: 1.125rem;
  border-radius: 10px;
  width: 100%;
  max-width: 200px;
  outline: none;
  background-color: rgba(255, 255, 255, 0.7);
  transition: background-color 0.3s ease;
  &:focus {
    background-color: #fff;
  }
}
.delete-text {
  position: absolute;
  top: 40%;
  right: 13%;
  width: 10px;
  border: none;
  transform: scale(1.2);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease;
  &:hover {
    transform: scale(1.5);
  }
}
