$baseFontColor: rgb(253, 239, 239);
$baseBgColor: rgba(0, 0, 0, 0.8);

// Sort button dropdown variables
$toggler-height: 0;
$menu-starting-top: 10%;
$menu-starting-right: 0px;
$menu-ending-top: 30%;
$menu-ending-right: 60%;
$menu-width: 120px;
$menu-max-height: 500px;
$menu-bg-color: #2c18db;
$fade-from-color: transparent;
$fade-to-color: #fff;
$timeout: 350ms;
