@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import "styles/variables";
@import "styles/SortButton";
@import "styles/Navbar";
@import "styles/Home";
@import "styles/Create";
@import "styles/Searchbar";
@import "styles/switch";
@import "styles/mediaquery";
@import "styles/transitions";

* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

h1,
h3 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.error,
.load {
  margin-top: 5em;
  text-align: center;
  font-size: 2rem;
}

.error {
  color: rgb(255, 101, 101);
}
